.Circle {
    background-image: url('pic.png');
    background-repeat: no-repeat;
    position: absolute;
    height: 200px;
    width: 200px;
    top:500px;
    left:300px;
    border-radius: 50%;
    display: inline-block;
}

