.Intro{
    position: relative;
    top: 100px;
    height: 350px;
    width: 100%;
    background-color: rgba(59, 89, 152, 1);
}

#introHeader{
    font-size: 50px;
    position: relative;
    left: 50px;
    top: 50px;
    color: rgb(255, 255, 255);
}

#introP{
    position: relative;
    top: 50px;
    left: 50px;
    color: rgb(255, 255, 255);
}

.Procedure{
    position: relative;
    top: 200px;
    background-color: blue;
    height: 200px;
}

#procedureHeader{
    position: relative;
    left: 50px;
    top: 50px;
}

#procedureP{
    position: relative;
    left: 50px;
    top: 50px;
}

.Mentor {
    position: relative;
    top: 300px
}
